__pycache__
.env
venv
*.pyc
*.log
.vscode/
airflow/logs/
airflow/airflow.db
airflow/airflow-webserver.pid
airflow/airflow.cfg
wandb/
models/**/*.pt
/__pycache__/
logs
*.log
*.pid
*.out
*.err
logs".env" 
"data/raw/" 
"data/processed/" 
